ul[data-list-id=guildsnav] div:is(.itemsContainer_ef3116, .bottomSection_ef3116)>div.scroller_ef3116 {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-thin-track);
        border: 2px solid var(--scrollbar-thin-track);
        border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: var(--scrollbar-thin-thumb);
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.theme-dark.custom-theme-background ul[data-list-id=guildsnav] div:is(.itemsContainer_ef3116, .bottomSection_ef3116)>div.scroller_ef3116.customTheme__99f8c {
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))), var(--custom-theme-background);
        background-size: 200vh;
    }
}

.theme-light.custom-theme-background ul[data-list-id=guildsnav] div:is(.itemsContainer_ef3116, .bottomSection_ef3116)>div.scroller_ef3116.customTheme__99f8c {
    &::-webkit-scrollbar-thumb {
        background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
        background-size: 100vh;
    }
}